<h3>New player form</h3>
<form action='/new_player' method='post'>
	Name: <input type='text' name='player_name'/> <!-- player_name could have been called anything else -->
	<br/>
    <button type="submit" class="btn">Submit</button>
</form>